*{
    font-family: Ms Gothic;
    overflow-x: hidden;
}
body{
    margin: 0px;
    background-color: blue;
}
header{
    background-color: cadetblue;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    margin: 0px;
}


.search{
    border: none;
    border-bottom: white 3px solid;
    padding: 6px;
    height: 1%;
}
.searchInput,.mGlass{
    border: none;
    background-color: cadetblue;
    font-size: 15px;
    color: white;
}
.mGlass{
    margin-right: 0px;
}
.searchInput{
    margin-left: 0px;
}
.logo{
    float: right;
}


main{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
}
.poster{
    border: white solid 2px;
    margin: 2%;
    padding: 10px;
    height: 250px;
    width: 250px;
    font-size: 18px;
}
.cost{
    float: left;

}
.owner{
    float: left;
}

.note{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

