*{
    font-family: Ms Gothic;
    overflow-x: hidden;
}
body{
    margin: 0px;
    background-color: #162a2e
}
header{
    background-color: #26494f;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    margin: 0px;
}


.search{
    border: none;
    border-bottom: white 3px solid;
    padding: 6px;
    height: 1%;
}
.searchInput,.mGlass{
    border: none;
    background-color: #26494f;
    font-size: 15px;
    color: white;
}
.mGlass{
    margin-right: 0px;
}
.searchInput{
    margin-left: 0px;
}
.logo{
    float: right;
}


main{
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    color: rgb(189, 189, 189);
    grid-template-columns: auto auto auto;
    column-gap: 3%;
}
.poster{
    border: white solid 2px;
    margin: 2%;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    height: 250px;
    font-size: 18px;
    background: radial-gradient( #26494F, #162a2e);

}
.cost{
    float: left;
    width: 100%;
}
.owner{
    float: left;
    width: 100%;
}

.note{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}